.login {
  margin: 0;
  position: relative;
  font-size: var(--large-heading-size);
  font-weight: 700;
  font-family: var(--form-heading);
  color: var(--color-darkslategray-100);
  text-align: left;
  display: inline-block;
  min-width: 98px;
}
.loginInputBackground {
  align-self: stretch;
  height: 6px;
  position: relative;
  background-color: var(--color-gainsboro);
}
.topContent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.email {
  position: relative;
  font-size: var(--font-size-9xl);
  font-weight: 500;
  font-family: var(--form-heading);
  color: var(--color-darkslategray-200);
  text-align: left;
  display: inline-block;
  min-width: 80px;
}
.inputLabels {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-xl);
}
.password {
  position: relative;
  font-size: var(--font-size-9xl);
  font-weight: 500;
  font-family: var(--form-heading);
  color: var(--color-darkslategray-200);
  text-align: left;
}
.inputFields {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.loginForm {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-61xl);
  box-sizing: border-box;
  max-width: 100%;
}
.button {
  position: relative;
  font-size: var(--form-heading-size);
  font-weight: 600;
  font-family: var(--form-heading);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 54px;
}
.buttonWrapper {
  flex: 1;
  border-radius: var(--br-mini);
  background-color: var(--color-darkslategray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mini) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.largeButtons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.buttonContainers {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px var(--padding-61xl);
  box-sizing: border-box;
  max-width: 100%;
}
.button1 {
  position: relative;
  font-size: var(--form-heading-size);
  font-weight: 600;
  font-family: var(--form-heading);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 117px;
}
.actionButtons {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.topContentParent {
  margin: 0;
  width: 960px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-81xl) var(--padding-56xl);
  box-sizing: border-box;
  gap: var(--gap-49xl);
  max-width: 100%;
}
